* {
   padding: 0px;
   margin: 0px;
   border: 0px;
}

/*----------------------HEADER-------------------------*/
header {
   display: flex;
   text-align: center;
   justify-content: space-between;
   background-color: black;
   width: 100%;
   height: 80px;
}
header img {
   margin-left: 2%;
}
header nav {
   padding-right: 2%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
header nav .botao {
   text-decoration: none;
   color: white;
   font-family: Lucida, sans-serif;
   font-weight: bold;
   margin-left: 30px;
}

/*------------CONTAINER FUNDO + BOTAO PLAYER------------*/
.container-fundo {
   width: 100%;
   height: 800px;
   background-image: url('imagens/fundo.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-end;
   justify-content: center;
}
.container-fundo .container-player {
   width: 100%;
   display: flex;
   justify-content: center;
}
.container-fundo .container-player .img-button {
   width: 190px;
}

/*--------------CONTAINER-DEGRADÊ------------------------*/
.container-degrade {
   background-color: rgb(0, 0, 0,.8);
   width: 100%;
   height: 130px;
   display: flex;
   justify-content: center;
}
.degrade {
   position: absolute;
   background: linear-gradient(to top, rgb(0, 0, 0), transparent);
   width: 100%;
   height: 130px;
   z-index: 2;
}

/*----------CONTAINER-ICONES APP & PLATAFORMAS---------*/
.container-icones {
   width: 60%;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   z-index: 3;
}
.icone {
   width: 130px;
}
.epicGames {
   width: 50px;
}
.steam {
   width: 50px;
}

/*-----------------CONTAINER MIDIAS---------------------*/
.container-midias{
   width: 100%;
   height: 800px;
   background-color: rgb(97, 96, 96);
}